= error_messages_for 'meeting_room_reserve'

.box.tabular
  = f.hidden_field :meeting_room_id
  %p= f.text_field :subject, :required => true, :size => 80
  %p
    = f.text_field :reserve_on, :required => true, :size => 10
    = calendar_for('meeting_room_reserve_reserve_on')
  %p= f.text_field :start_time, :required => true, :size => 10
  %p= f.text_field :end_time, :required => true, :size => 10  
  
